Repository MijeongJeon/good_git_study, pull requests merged in 2019-04, with the labels that each got.

#6 지원의 개발 서적 추천 (#1)
  book_recommand.md
Labels: 문서화

#24 merge 명령어 정리(#15)
  basic_git_commands.md
Labels: git 기본 명령어

#25 rebase 추가 명령어 정리(#17)
  basic_git_commands.md
  more_rebase.md
Labels: git 추가 명령어

#26 commit 명령어 설명 추가
  basic_git_commands.md
Labels: git 기본 명령어, 문서화

#29 revert와 reset 명령어 설명과 참고 사진들 추가
  images/revert:reset(1).jpg
  images/revert:reset(2).jpg
  images/revert:reset(3).jpg
  images/revert:reset(4).jpg
  images/revert:reset(5).jpg
  more_revert:reset.md
Labels: git 추가 명령어, 문서화

#28 cherry-pick 설명/사용법 추가(#19)
  more_cherry_pick.md
Labels: git 추가 명령어

#27 Branch 명령어 정리 (#13)
  basic_git_commands.md
Labels: git 기본 명령어

#30 More amend 명령어 정리 (#18)
  README.md
  book_recommand.md
  more_amend.md
Labels: git 추가 명령어
